/*------------------------------------------------------------------
[Table of contents]

[&. Content / #key]
[Let press Ctrl + f and type of paste the key, then press Enter to search the content ]

This file include some global style for template, each page have other CSS file
1. Header / #header
2. Footer / #footer
3. Section component / #section-component
4. Totop button / #totop
5. Page header when scroll / #header-scroll
6. Responsive for small device / #responsive
-------------------------------------------------------------------*/
html * {
  outline: 0 !important;
}
html,
body {
  min-height: 100%;
}
/* quem-somos */
.section {
  padding-top: 30px;
  padding-bottom: 80px;
  position: relative;
}
.section.quem-somos {
  background-color: #eee;
  padding-bottom: 30px;
  padding-top: 25px;
}
.section.quem-somos .line{
  border-color: #000;
}
.section.quem-somos .line::after{
  border-top-color: #EEEEEE;
}
.section.quem-somos .text {
  color: #000;
  font-size: 18px;
}
.section.quem-somos .button {
  margin-top: 20px;
}
.section .section-heading .info {
  font-size: 32px;
  color: #062045;
  width: 85%;
  display: inline-block;
  margin-bottom: 20px;
}
.section .section-heading .title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #000;
  width: 80%;
  display: inline-block;
  text-transform: uppercase;
  /*font-family: 'AleoBold';*/
}
.section.quem-somos .section-heading .title {
  color: #000;
}
.section .section-heading .sub-title {
  font-size: 16px;
  font-weight: 400;
  color: #808080;
  width: 80%;
  display: inline-block;
  margin-top: 0;
}
.section .section-content {
  position: relative;
}
.section.section-background .section-heading .title {
  font-weight: 300;
  color: #ffffff;
}
.section.section-background .section-heading .sub-title {
  color: #ffffff;
}
#section-who-we-are .btn.quem-somos{
  background-color: #000;
  color: #fff;
  border-color: #000;
  text-transform: none;
  font-size: 18px;
  margin-left: 20px;
}
#section-who-we-are .btn.quem-somos:hover{
  background-color: #fff;
  color: #000;
}
/* end quem-somos */
#message_newsletter {
  color: #fff;
  font-size: 12px;
  padding-left: 15px;
  line-height: 30px;
  font-weight: 600;
}
.destaque-resumo{
  height: 80px;
}
.list-most-commented{
  /*padding-left: 18px;*/
}
#section-action-areas .title.action-area{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 18px;
}
#section-action-areas .thumb.action-area{
  margin-bottom: 35px;
}
#section-action-areas .btn.btn-outlined.btn-primary{
  border-color: #000;
  color: #000;
  background-color: #fff;
  margin-top: 40px;
}
#section-action-areas .btn.btn-outlined.btn-primary:hover{
  background-color: #000;
  color: #ffffff;
}
/* Header and Navigation | #header */
#wrapper .header-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10000;
}
#wrapper .header-wrapper #header {
  position: relative;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.2s;
}
#wrapper .header-wrapper #header .logo {
  float: left;
  height: 90px;
  width: 110px;
  position: relative;
  transition: all 0.2s;
}
#wrapper .header-wrapper #header .logo img {
  max-height: 78px;
  max-width: 110px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 0;
}
.page-header-scroll #wrapper .header-wrapper #header .logo img {
  max-height: 48px;
}
#wrapper .header-wrapper #header .menu {
  float: left;
  padding-left: 15px;
}
#wrapper .header-wrapper #header .menu > ul {
  margin: 0;
}
#wrapper .header-wrapper #header .menu > ul > li {
  position: relative;
  padding: 0;
  height: 90px;
  line-height: 90px;
  transition: all 0.2s;
}
#wrapper .header-wrapper #header .menu > ul > li.active > a {
  background-color: #636363;
  color: #fff;
  font-weight: bold;
}
#wrapper .header-wrapper #header .menu > ul > li.active > a span.arrow {
  color: #ffffff;
}
#wrapper .header-wrapper #header .menu > ul > li:last-child > a {
  margin-right: 0;
}
#wrapper .header-wrapper #header .menu > ul > li > a {
  text-transform: uppercase;
  /*color: #5d5e5e;*/
  color: #000;
  padding: 10px;
  margin: 0;
  border-radius: 9999px;
  transition: border 0.3s;
  font-size: 15px;
  font-weight: 600;
}
#wrapper .header-wrapper #header .menu > ul > li > a i.fa-home {
  font-size: 18px;
}
.page-header-scroll #wrapper .header-wrapper #header .menu > ul > li > a {
  /*color: #000;*/
}
#wrapper .header-wrapper #header .menu > ul > li > a:hover {
  /*background-color: rgba(99, 99, 99, 0.8);*/
  /*color: #fff;*/
  color: #808181;
}
#wrapper .header-wrapper #header .menu > ul > li > a:hover span.arrow {
  color: #ffffff;
}
#wrapper .header-wrapper #header .menu > ul > li > a span.arrow {
  position: absolute;
  bottom: 12px;
  left: 50%;
  margin-left: -5px;
}
#wrapper .header-wrapper #header .menu > ul > li > a.btn {
  border-color: transparent;
  padding: 10px 25px;
}
#wrapper .header-wrapper #header .menu > ul > li .dropdown-menu {
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
#wrapper .header-wrapper #header .menu > ul > li .dropdown-menu > li:last-child > a {
  border-bottom: 0;
}
#wrapper .header-wrapper #header .menu > ul > li .dropdown-menu > li.active > a {
  background-color: #5ca5dd;
  color: #ffffff;
}
#wrapper .header-wrapper #header .menu > ul > li .dropdown-menu > li.active > a i {
  color: #ffffff !important;
}
#wrapper .header-wrapper #header .menu > ul > li .dropdown-menu > li > a {
  padding: 8px 10px;
  /* padding: 4px 10px; */
  border-bottom: 1px solid #f0f0f0;
  font-size: 13px;
}
#wrapper .header-wrapper #header .menu-responsive {
  padding: 7px;
  float: right;
  text-align: center;
  margin-top: 22px;
  cursor: pointer;
}
#wrapper .header-wrapper #header .menu-responsive > span {
  font-size: 25px;
  color: #ffffff;
}
#wrapper .header-bg-wrapper #header-bg {
  background-image: url("../images/backgrounds/bg_header_1.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #ccc;
  height: 215px;
}
#wrapper .header-bg-wrapper #header-bg .header-bg-content {
  text-align: center;
  padding-top: 110px;
}
#wrapper .header-bg-wrapper #header-bg .header-bg-content .breadcrumb {
  background-color: transparent;
  margin-bottom: 10px;
}
#wrapper .header-bg-wrapper #header-bg .header-bg-content .breadcrumb > li + li:before {
  padding: 0 5px 0 10px;
  color: #fff;
  content: "/\00a0";
  text-align: center;
}
#wrapper .header-bg-wrapper #header-bg .header-bg-content .breadcrumb > li {
  color: #fff;
}
#wrapper .header-bg-wrapper #header-bg .header-bg-content .breadcrumb > li > a {
  color: #fff;
}
#wrapper .header-bg-wrapper #header-bg .header-bg-content .breadcrumb > li > a:hover {
  color: #43d9ad;
}
#wrapper .header-bg-wrapper #header-bg .header-bg-content .title {
  color: #fff;
  margin: 0 0 10px;
}
#wrapper .header-bg-wrapper #header-bg .header-bg-content .desc {
  color: #5ca5dd;
  font-size: 16px;
}
/* Footer | #footer */
#footer #section-footer {
  background-color: #000;
  color: #ffffff;
  padding-top: 65px;
  padding-bottom: 65px;
}
#footer #section-footer .logo {
  margin-bottom: 30px;
}
#footer #section-footer .logo img{
  max-width: 170px;
}
#footer #section-footer .about-us {
  font-size: 13px;
  margin-bottom: 20px;
}
#footer #section-footer .about-us h4 {
  font-weight: 800;
}
#footer #section-footer .contact-info > ul > li > a {
  padding: 5px 0;
  display: block;
  color: #ffffff;
  font-size: 13px;
}
#footer #section-footer .contact-info > ul > li > a:hover {
  color: #83e6c9;
}
#footer #section-footer .contact-info > ul > li > a > i {
  font-size: 15px;
  color: #83e6c9;
  margin-right: 15px;
}
#footer #section-footer .recent-twitter .heading {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
}
#footer #section-footer .recent-twitter .heading i.fa-twitter {
  color: #00eaff;
  margin-right: 10px;
}
#footer #section-footer .recent-twitter .content ul > li > a {
  display: block;
}
#footer #section-footer .recent-twitter .content ul > li > a:hover {
  color: #00eaff;
}
#footer #section-footer .recent-twitter .content a {
  color: #ffffff;
  font-size: 13px;
}
#footer #section-footer .recent-twitter .content small {
  color: #00eaff;
}
#footer #section-footer .newsletter .heading {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
}
#footer #section-footer .newsletter .heading i.fa-twitter {
  color: #00eaff;
  margin-right: 10px;
}
#footer #section-footer .newsletter .content p {
  font-size: 13px;
  color: #ffffff;
}
#footer #section-footer .newsletter .content .input-newsletter .input-group-addon {
  background-color: transparent;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  font-size: 15px;
}
#footer #section-footer .newsletter .content .input-newsletter input {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  background-color: #fff;
  font-size: 15px;
  border: 0;
  color: #000;
  height: 40px;
  outline: 0 !important;
}
#footer #section-footer .newsletter .content .input-newsletter input:focus {
  outline: 0 !important;
}
#footer #section-footer .newsletter .content .input-newsletter input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#footer #section-footer .newsletter .content .input-newsletter input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#footer #section-footer .newsletter .content .input-newsletter input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#footer #section-footer .newsletter .content .input-newsletter input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#footer #section-footer .newsletter .content .input-newsletter .btn-subscribe {
  padding: 0;
  border: 0;
  background-color: #fff;
}
#footer #section-footer .newsletter .content .input-newsletter .btn-subscribe .btn {
  min-width: 100px;
  background-color: #ccc;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 9999px;
}
#footer #section-footer .newsletter .content .input-newsletter .btn-subscribe .btn:hover {
  background-color: #ccc;
}
#footer #section-footer .newsletter .content .icons {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 12px;
  text-align: center;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#footer #section-footer .newsletter .content .icons:hover {
  background-color: #006ec3;
  border-color: #006ec3;
}
#footer #section-copyright {
  background-color: #ffffff;
  padding: 15px 0;
  font-size: 13px;
  font-weight: 600;
  color: #000;
}



/* Global component for all section | #section-component */
.section {
  padding-top: 40px;
  padding-bottom: 80px;
  position: relative;
}
.section .section-heading .info {
  font-size: 32px;
  color: #062045;
  width: 85%;
  display: inline-block;
  margin-bottom: 20px;
}
.section .section-heading .title {
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  color: #062045;
  width: 80%;
  display: inline-block;
}
.section .section-heading .sub-title {
  font-size: 18px;
  font-weight: 400;
  color: #808080;
  width: 80%;
  display: inline-block;
  margin-top: 0;
}
.section .section-content {
  position: relative;
}
.section.section-background .section-heading .title {
  font-weight: 300;
  color: #ffffff;
}
.section.section-background .section-heading .sub-title {
  color: #ffffff;
}
.line {
  width: 70px;
  height: 1px;
  position: relative;
  background: transparent;
  border-bottom: 1px solid #000;
  margin: 0 auto 25px;
  padding: 5px;
}
.line:after,
.line:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.line:before {
  border-top-color: #000;
  border-width: 6px;
  margin-left: -6px;
}
.line:after {
  border-top-color: #ffffff;
  border-width: 5px;
  margin-left: -5px;
}
.section-background .line {
  border-bottom: 1px solid #ffffff;
}
.section-background .line:before {
  border-top-color: #ffffff;
}
.section-background .line:after {
  border-top-color: #4fbae6;
}
.btn-14 {
  font-size: 14px !important;
}
.btn-18 {
  font-size: 18px !important;
}
.btn-22 {
  font-size: 22px !important;
}
/* Totop button | #totop */
#totop {
  position: fixed;
  bottom: 1%;
  right: 1.5%;
  display: none;
  z-index: 9999;
  background-color: #000;
  border-radius: 2px;
  height: 30px;
  width: 30px;
  text-align: center;
}
#totop i {
  color: #ffffff;
  line-height: 30px;
  font-size: 18px;
}
#totop:hover {
  background: #000;
}
#totop:hover i {
  color: #ffffff;
}

/*template adaptations*/


.client-box {
    text-align: center;
    padding: 25px;
}

.client-box img {
    display: inline-block;
}

.input-file{
  padding: 0px 20px !important;
}
.bold {
  font-weight: bold;
}

.top-header {
  padding: 10px 0;
  background: #636363;
  color: #fff;
}

.top-header address {
  padding-top: 2px;
  margin-bottom: 0;
}

.top-header address ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.top-header address ul li {
  display: inline-block;
  text-align: right;
  margin-left: 20px;
  position: relative;
  font-size: 13px;
}

.top-header address ul li:before {
  content: " ";
  display: block;
  position: absolute;
  left: -12px;
  top: 0px;
  height: 20px;
  width: 2px;
  background: #fff;
}
.top-header address ul li:first-child:before {
  display: none;
}

#header .social{
  float: left;
  /*width: 75px;*/
  width: 100px;
  padding-top: 30px;
  text-align: right;
}
#header .social a,
body.page-header-scroll #wrapper .header-wrapper #header .social a{
  background: none !important;
}
#header .social a:hover,
body.page-header-scroll #wrapper .header-wrapper #header .social a:hover{
  background: #636363 !important;
  color: #fff;
}
.top-header .social a,
#header .social a,
body.page-header-scroll #wrapper .header-wrapper #header .social a{
  /*width: 25px;*/
  width: 17px;
  height: 25px;
  line-height: 25px;
  margin-right: 5px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  color: #636363;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

/* mega menu */
.mega-menu {
    left: -800px;
    /* display: block; */
    width: 1140px;
}
.mega-menu li {
    float: left;
    width: 375px;
    overflow: hidden;
}

.mega-menu li a{
    font-size: 11px !important;
}
.agende-sua-consulta-container {
  background: #5ca5dd;
}

.form-agende-sua-consulta {
  margin: 15px 0;
}

.form-agende-sua-consulta p {
  color: #fff;
}

.form-agende-sua-consulta .form-inline .form-control {
  width: 250px;
}
.form-agende-sua-consulta  .btn-default {
  padding: 6px 25px;
  border-radius: 3px;
}

.btn-primary.atacched-up {
    border-radius: 0 0 30px 30px;
    background: #328ed4;
}

/*.fb-page{
  transform: translate(30%);
}*/

.facebook-area {
  overflow: hidden;
  padding: 30px 0;
  background: #4068ad url("../images/backgrounds/bg-facebook-area.jpg") top left no-repeat;
  background-size: 55% 100%;
}

.facebook-area h3 {
  margin: 0 0 15px;
  /*font-size: 71px;*/
  font-size: 54px;
  color: #fff;
  font-weight: bold;
  line-height: .8;
}

.facebook-area h3 small {
  font-size: 67%;
  color: #fff;
}

.facebook-area iframe {
  width: 100% !important;

}

.slider-wrapper {
  padding-top: 93px;
}

.bg-grey {
  background-color: #e8e8e8;
}

#footer #section-footer .recent-twitter .content ul > li {
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.input-group.input-newsletter {
    background: #fff;
    border-radius: 50px;
}

.lista-servicos .card .title{
  height: 46px;
}

.lista-servicos .card{
  margin-bottom: 30px;
}

.wysiwyg-editor-content h1,
.wysiwyg-editor-content h2,
.wysiwyg-editor-content h3,
.wysiwyg-editor-content h4,
.wysiwyg-editor-content h5,
.wysiwyg-editor-content h6
{ 
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.wysiwyg-editor-content img {
    max-width: 100% !important;
    height: auto !important;
}

/* Page Header when scroll | #header-scroll */
body.page-header-scroll #wrapper .header-wrapper #header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #fff;
  border-bottom: 2px solid #000;
}
body.page-header-scroll #wrapper .header-wrapper #header .social {
  padding-top: 15px;
}
body.page-header-scroll #wrapper .header-wrapper #header .logo {
  height: 60px;
}
body.page-header-scroll #wrapper .header-wrapper #header .menu > ul > li {
  height: 60px;
  line-height: 60px;
}
body.page-header-scroll #wrapper .header-wrapper #header .menu > ul > li > a span.arrow {
  bottom: 0;
  color: #000;
}
/* Responsive | #responsive */
@media screen and (max-width: 1200px) {
  .top-header address ul li {
    float: left;
    margin-left: 30px;
    line-height: 1.8;
  }

  .top-header address ul li:nth-child(2n) {
    clear: left;
    margin-left: 0;
  }

  .top-header address ul li:before {
    display: none;
  }

  #wrapper .header-wrapper #header .menu > ul > li {
      padding: 0 8px;
  }

  .mega-menu {
      left: -730px;
      width: 940px;
  }

  .mega-menu li {
    width: 305px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .mega-menu li a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  #wrapper .header-wrapper #header .container {
    position: relative;
  }
  
  #wrapper .header-wrapper #header .social {
    position: absolute;
    right: 10px;
    top: 10px;
    padding-top: 0;
  }
 
  .page-header-scroll #wrapper .header-wrapper #header .social {
    display: none;
  }

  #wrapper .header-wrapper #header .menu > ul > li:first-child {
    display: none;
  }
  #wrapper .header-wrapper #header .menu > ul > li > a {
    padding: 10px 0;
    margin: 0;
  }

  #section-latest-news .box {
    min-height: 260px;
  }

  .news-detail img{
    height: auto !important;
    max-width: 100%;
  }

  .contact-infos > ul > li > a > i {
    font-size: 20px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1025px) {
  .menu-responsive {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  #wrapper .header-wrapper #header {
    height: 60px !important;
  }
  #wrapper .header-wrapper #header .logo {
    height: 60px !important;
  }
  #wrapper .header-wrapper #header .menu {
    float: none;
    position: absolute;
    right: 0;
    width: 100%;
    text-align: center;
    padding-left: 0;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    position: fixed;
    top: 0;
    height: 100%;
    padding-top: 50px;
    background: rgba(14, 71, 67, 0.98);
    z-index: 2;
  }
  
  #wrapper .header-wrapper #header .menu.active {
    visibility: visible;
  }
  
  #wrapper .header-wrapper #header .menu-responsive.inverse span {
    color: #fff;
  }

  #wrapper .header-wrapper #header .menu > ul > li {
    display: block;
    background: transparent;
    height: auto !important;
    line-height: 1 !important;
  }
  #wrapper .header-wrapper #header .menu > ul > li.active > a {
    background-color: #328ed4;
    color: #ffffff;
  }
  #wrapper .header-wrapper #header .menu > ul > li:hover {
    background: #164743;
  }
  #wrapper .header-wrapper #header .menu > ul > li:last-child > a {
    padding: 10px 15px;
  }
  #wrapper .header-wrapper #header .menu > ul > li.dropdown .dropdown-menu > li > a {
    padding-left: 15px;
    text-align: center;
  }
  #wrapper .header-wrapper #header .menu > ul > li.dropdown .dropdown-menu > li > a i.fa-plus {
    font-size: 12px;
  }
  #wrapper .header-wrapper #header .menu > ul > li ul > li.dropdown-submenu > a:hover {
    background-color: transparent;
  }
  #wrapper .header-wrapper #header .menu > ul > li ul > li.dropdown-submenu .dropdown-menu > li > a {
    padding-left: 33px;
    background-color: #f0f0f0;
  }
  #wrapper .header-wrapper #header .menu > ul > li > a {
    display: block;
    margin: 0;
    border-radius: 0;
    color: #fff;
  }
  #wrapper .header-wrapper #header .menu > ul > li > a:hover {
    background-color: #328ed4;
    color: #ffffff;
  }
  #wrapper .header-wrapper #header .menu > ul > li .dropdown-menu {
    position: relative;
    left: 0 !important;
    /* display: none; */
    width: 100%;
    float: none;
    box-shadow: none;
  }
  #wrapper .header-wrapper #header .menu > ul > li .arrow {
    display: none;
  }
  #wrapper .header-wrapper #header .menu .dropdown-menu {
    float: left;
  }
  #wrapper .header-wrapper #header .menu .dropdown-menu .dropdown-submenu a:after {
    content: '';
  }
  #wrapper .header-wrapper #header .menu-responsive {
    position: absolute;
    right: 20px;
    margin-top: 11px;
    cursor: pointer;
    z-index: 3;
  }
  #wrapper .header-wrapper #header .menu-responsive span {
    font-size: 25px;
    line-height: 1;
    vertical-align: middle;
    color: #333;
  }
  .active {
    right: 0% !important;
  }
  .container #header .logo {
    width: 160px;
  }
  .container #header .logo img {
    max-width: 160px;
    margin: 10px 0;
  }

  .hidden-sm {
    display: none !important;
  }

  #wrapper .header-wrapper #header .social {
    right: 80px;
    top: 20px;
  }

  .slider-wrapper {
    padding-top: 60px;
  }

  #section-services .card.hovercard.alternative .info .title {
    height: 60px;
  }

  #section-latest-news .box {
    min-height: 0;
  }

  #section-services.empresas-mtc {
    padding-top: 0px;
  }
  #section-services.empresas-mtc .card {
    margin-bottom: 30px;
  }

  #footer #section-footer .contact-info > ul > li > a > i {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  #wrapper #footer #section-footer {
    padding-top: 80px !important;
    padding-bottom: 50px !important;
  }
  #wrapper #footer #section-footer .about-us,
  #wrapper #footer #section-footer .contact-info > ul > li > a,
  #wrapper #footer #section-footer .recent-twitter .content a,
  #wrapper #footer #section-footer .newsletter .content p {
    font-size: 12px !important;
  }
  #wrapper #footer #section-footer .logo,
  #wrapper #footer #section-footer .recent-twitter .heading,
  #wrapper #footer #section-footer .newsletter .heading {
    margin-bottom: 30px;
  }
  #wrapper #footer #section-footer .logo .img-responsive {
    width: 90%;
  }
  #wrapper #footer #section-footer .newsletter .content .icons {
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 3px;
  }
}
@media screen and (max-width: 767px) {
  .contact-info-box {
    display: inline-block;
    float: none;
    vertical-align: middle;
    width: calc(100% - 45px);
  }
}
@media screen and (max-width: 600px) {
  #wrapper #footer #section-footer {
    padding-top: 70px !important;
    padding-bottom: 30px !important;
  }
  #wrapper #footer #section-footer .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  #wrapper #footer #section-footer .logo .img-responsive {
    width: 40%;
  }
  #wrapper #footer #section-footer .logo,
  #wrapper #footer #section-footer .recent-twitter .heading,
  #wrapper #footer #section-footer .newsletter .heading,
  #wrapper #footer #section-footer .about-us {
    margin-bottom: 10px;
  }
  #wrapper #footer #section-footer .recent-twitter,
  #wrapper #footer #section-footer .contact-info {
    margin-bottom: 30px;
  }
  .section.quem-somos .text {
      font-size: 17px;
  }
  .section .section-heading .title {
    font-size: 22px;
  }
  .wysiwyg-editor-content h1,
  .wysiwyg-editor-content h2,
  .wysiwyg-editor-content h3,
  .wysiwyg-editor-content h4,
  .wysiwyg-editor-content h5,
  .wysiwyg-editor-content h6 {
      font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  #wrapper .header-wrapper #header {
    height: 65px;
  }
  #wrapper .header-wrapper #header .logo {
    height: 65px;
  }
  #wrapper .header-wrapper #header .logo img {
    max-width: 200px;
    margin: 8px 0;
  }
  #wrapper .header-wrapper #header .menu-responsive {
    padding: 6px;
    margin-top: 14px;
    cursor: pointer;
  }
  #wrapper .header-wrapper #header .menu-responsive span {
    font-size: 20px;
  }
  #wrapper #footer #section-footer {
    padding-top: 50px !important;
  }
}
@media screen and (max-width: 400px) {
  #wrapper .header-wrapper #header {
    height: 60px !important;
  }
  #wrapper .header-wrapper #header .logo {
    height: 60px !important;
    width: 160px;
  }
  #wrapper .header-wrapper #header .logo img {
    max-width: 160px;
    margin: 10px 0;
  }
  #wrapper .header-wrapper #header .menu {
    float: none;
    right: 0;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.1);
    visibility: hidden;
  }
  #wrapper .header-wrapper #header .menu.active {
    visibility: visible;
  }
  #wrapper .header-wrapper #header .menu > ul > li {
    display: block;
    height: auto !important;
    line-height: 1 !important;
  }
  #wrapper .header-wrapper #header .menu > ul > li.active > a {
    background-color: #328ed4;
    color: #ffffff;
  }
  #wrapper .header-wrapper #header .menu > ul > li:hover {
    background: #5ca5dd;
  }
  #wrapper .header-wrapper #header .menu > ul > li:last-child > a {
    padding: 10px 15px;
  }
  #wrapper .header-wrapper #header .menu > ul > li.dropdown .dropdown-menu > li > a {
    padding-left: 15px;
  }
  #wrapper .header-wrapper #header .menu > ul > li.dropdown .dropdown-menu > li > a i.fa-plus {
    font-size: 12px;
  }
  #wrapper .header-wrapper #header .menu > ul > li ul > li.dropdown-submenu > a:hover {
    background-color: transparent;
  }
  #wrapper .header-wrapper #header .menu > ul > li ul > li.dropdown-submenu .dropdown-menu > li > a {
    padding-left: 33px;
    background-color: #f0f0f0;
  }
  #wrapper .header-wrapper #header .menu > ul > li > a {
    display: block;
    margin: 0;
    border-radius: 0;
  }
  #wrapper .header-wrapper #header .menu > ul > li > a:hover {
    background-color: #328ed4;
    color: #ffffff;
  }
  #wrapper .header-wrapper #header .menu > ul > li .dropdown-menu {
    position: relative;
    left: 0 !important;
    /* display: none; */
    width: 100%;
    float: none;
    box-shadow: none;
  }
  #wrapper .header-wrapper #header .menu > ul > li .arrow {
    display: none;
  }
  #wrapper .header-wrapper #header .menu .dropdown-menu {
    float: left;
  }
  #wrapper .header-wrapper #header .menu .dropdown-menu .dropdown-submenu a:after {
    content: '';
  }
  #wrapper .header-wrapper #header .menu-responsive {
    position: absolute;
    right: 20px;
    margin-top: 3px;
    cursor: pointer;
  }
  #wrapper .header-wrapper #header .menu-responsive span {
    font-size: 18px;
    line-height: 1;
    vertical-align: middle;
  }
  #wrapper #footer #section-footer {
    padding-top: 70px !important;
  }
  #wrapper #footer #section-footer .logo .img-responsive {
    width: 70%;
  }
  .section .section-heading .title {
    font-size: 24px;
  }
  .facebook-area {
    background: #4068ad;
  }
  #wrapper #main #content #section-news .container .section-content .box .box-body .list-most-commented .media {
    width: 100%;
  }
  #wrapper .header-bg-wrapper #header-bg .header-bg-content {
      padding-top: 70px;
  }
  #wrapper .header-bg-wrapper #header-bg .header-bg-content .title {
      font-size: 15px;
  }
}
