/* margin helpers */

.margin-bottom-xs {
    margin-bottom: 10px;
}

.margin-bottom-s {
    margin-bottom: 20px;
}

.margin-bottom-m {
    margin-bottom: 40px;
}

.margin-bottom-g {
    margin-bottom: 60px;
}


.margin-top-xs {
    margin-top: 10px;
}

.margin-top-s {
    margin-top: 20px;
}

.margin-top-m {
    margin-top: 40px;
}

.margin-top-g {
    margin-top: 60px;
}

.font-lg {
  padding: 20px;
  font-size: 4em;
}

/*horizontally center table*/
.table.middle-vertical-align > tbody > tr > td {
     vertical-align: middle;
}


/*horizontally center table*/
.table.middle-vertical-align > tbody > tr > td {
     vertical-align: middle;
}

.highlight {
  border: 1px solid #270f0f;
  width: 100%;
}

.ui-sortable-handle {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.ui-sortable-handle:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}


#header {
  height: 60px;
}

/*adjusting bootstrap menu*/
.nav>li>a {
  padding: 10px 8px;
  font-size: 14px;
}

/*login stuff*/

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}
body.area-cliente {
  background: url(../../images/backgrounds/area-cliente.jpg) no-repeat center center fixed;
  background-size: cover;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*footer stuff*/
footer {
    float: left;
    width: 100%;
    margin-top: 30px;
    padding: 20px 0;
    border-color: #e7e7e7;
    background-color: #f8f8f8;
}

footer a {
    color: #777;
}

footer a:hover {
    color: #333;
    text-decoration: none;
}